# Python
__pycache__/
*.py[cod]
*.egg-info
.eggs/

# Packaging
build/
dist/

# Environments
ve
venv/
.venv/

# Tests
.coverage
htmlcov/
.pytest_cache/
.tox/

# Editors and OS
.idea/
.vscode/
.DS_Store
